<div class="container"> 
<div class="row">
<div class="col s12 m3 l3">
<div class="row">

<div class="col s12 m12 l12 card">
          <img src="assets/img/avatar1.png" class="responsive-img circle">

  <form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload your profile pictures">
      </div>
    </div>
  </form> <!-- end of form-->

  <div class="card-content works">
          <a><span class="card-title ">Rock William</span> </a>
        <p >PHP Developer </p> 
        <p class="orange-text">Available Full Time</p>
        </div>


  <div class="card-content">
          <a><span class="card-title ">Websites</span> </a>
        <p class="orange-text"><i class="tiny material-icons left">language</i>
        <a href="www.oce.com.ng">www.oce.com.ng</a></p>
         <p class="orange-text"><i class="tiny material-icons left">language</i>
        <a href="www.oce.com.ng">Blog Post</a></p>
 </div> <!-- end of card-content-->

<div class="card-content">
          <a><span class="card-title ">Profile Completeness</span> </a>
 <form action="#">
    <p >
      85% :  <progress class="orange" value="85" max="100"></progress>
    </p>
    <a class="waves-effect waves-light btn">Complete Require Skill</a>
  </form>
 </div> <!-- end of card-content-->

 <div class="card-content">
 <div class="row">
 <div class="col s5">Location</div>
 <div class="col s7">
 <p class="rate"><i class="small material-icons red-text left">location_on</i>  New York City </p>
 </div>
 
 </div>
 </div> <!-- end of card-content-->

  <div class="card-content">
 <div class="row">
 <div class="col s6">Hourly Rate</div>
 <div class="col s6">
 <p class="rate"> $50/hr </p>
 </div>
 
 </div>
 </div> <!-- end of card-content-->

  <div class="card-content">
 <div class="row">
 <div class="col s6">Age</div>
 <div class="col s6">
 <p class="rate"> 30 </p>
 </div>
 
 </div>
 </div> <!-- end of card-content-->

  <div class="card-content">
 <div class="row">
 <div class="col s6">Experience</div>
 <div class="col s6">
 <p class="rate"> 5 Years </p>
 </div>
 
 </div>
 </div> <!-- end of card-content-->

  <div class="card-content">
 <div class="row">
 <div class="col s6">Jobs Done</div>
 <div class="col s6">
 <p class="rate"> 60 </p>
 </div>
 
 </div>
 </div> <!-- end of card-content-->

   <div class="card-content">
    <span class="card-title ">Contact Social Account</span> 
 <div class="row">
 <div class="col s3"> <img src="assets/social/social1.jpg" class="responsive-img circle"> </div>
 <div class="col s9 social1"><a href="http://instagram.com">http://instagram.com </a></div>
 </div>
  <div class="row">
 <div class="col s3"> <img src="assets/social/facebook.png" class="responsive-img circle"> </div>
 <div class="col s9 social1"><a href="http://facebook.com">http://facebook.com </a></div>
 </div>
  <div class="row">
 <div class="col s3"> <img src="assets/social/social3.png" class="responsive-img circle"> </div>
 <div class="col s9 social1"><a href="http://twitter.com">http://twitter.com </a></div>
 </div>
  <div class="row">
 <div class="col s3"> <img src="assets/social/social5.png" class="responsive-img circle"> </div>
 <div class="col s9 social1"><a href="http://goggle+.com">http://goggle+.com </a></div>
 </div>
 </div> <!-- end of card-content-->
        
        
</div>

</div> <!-- end of row-->

</div> <!-- end of col s12 m9 l9-->

<div class="col s12 m9 l9">
<div class="row card">
<div class="card-content">
<h4>
Manage your Account
</h4>

</div> <!-- end of card-content-->

</div> <!-- end of row-->

<div id="nav">

  <nav>
    <div class="nav-wrapper">
    <div>
    
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul >
        <li><a href="#" >Dashboard</a></li>
        <li><a href="#" >Profile</a></li>
        <li><a href="#" >Portfolio</a></li>
        <li><a href="#" >Notification</a></li>
        <li><a href="#" >Messages</a></li>
        <li><a href="#" >Bookmarks</a></li>
        <li><a href="#" >Jobs</a></li>
        <li><a href="#" >Bids</a></li>
        <li><a href="#" >Reviews</a></li>
        <li><a href="#" >Payment</a></li>
        <li><a href="#" ><i class="small material-icons right">settings</i></a></li>
        
        
      </ul>
      </div>
    </div>
  </nav>


</div> <!-- end of nav-->

<div class="row">
<div class="col s12 m4 l4">
<div class="card">

<div class="card-content">
<div class="works">
<p><a href="#" ><i class="large material-icons ">work</i></a> </p>
<p>Applied Jobs</p>
<h4>15</h4>

 </div>
</div>

</div>

</div> <!-- end of col s12 m4 l4-->

<div class="col s12 m4 l4">
<div class="card">

<div class="card-content">
<div class="works">
<p><a href="#" ><i class="large material-icons ">check_circle</i></a> </p>
<p>Task Bids Won</p>
<h4>10</h4>

 </div>
</div>

</div>

</div> <!-- end of col s12 m4 l4-->

<div class="col s12 m4 l4">
<div class="card">

<div class="card-content">
<div class="works">
<p><a href="#" ><i class="large material-icons ">favorite</i></a> </p>
<p>Favourites</p>
<h4>20</h4>

 </div>
</div>

</div>

</div> <!-- end of col s12 m4 l4-->

</div> <!-- end of row-->


<div class="row">
<div class="col s12 m8 l8">
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>

<div class="col s12 m4 l4">
<div class="card"> 
<div class="card-content">
<div class="row">
<a class="waves-effect waves-light btn red">High Priority  </a><i class="tiny material-icons right ">edit</i> <i class="tiny material-icons right ">delete</i>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  </p>

</div>

</div> <!-- end of Card Content -->
<div class="card-content">
<div class="row">
<a class="waves-effect waves-light btn">Low Priority  </a><i class="tiny material-icons right ">edit</i> <i class="tiny material-icons right ">delete</i>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  </p>

</div>
<div class="row">
 <a class="waves-effect waves-light btn red">Add Notes</a>
 </div>

</div> <!-- end of Card Content -->


 </div>

</div>

</div> <!-- end of row-->


<div class="row">
<div class="col s12 l8 m8">
<div class="card">
<div class="card-content jobs">
<span class="card-title">Applied Jobs</span>
</div><!-- end of card-content jobs-->
<div class="card-content jobs">
<span class="card-title">Wordpress Developer</span>
<div class="row">

<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">location_on</i> Austra
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">view_column</i> Full Time
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">money</i> $599
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">access_time</i> 1 day ago
</div>

</div> <!-- end of row-->
<div class="row">

<a class="waves-effect waves-light btn red">Applied</a>

</div>

</div> <!-- end of card-content jobs-->

<div class="card-content jobs">
<span class="card-title">Front End Developer</span>
<div class="row">

<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">location_on</i> Austra
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">view_column</i> Full Time
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">money</i> $50/hr
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">access_time</i> 1 day ago
</div>

</div> <!-- end of row-->
<div class="row">

<a class="waves-effect waves-light btn red">Applied</a>

</div>

</div> <!-- end of card-content jobs-->

<div class="card-content jobs">
<span class="card-title">Bankend developer Developer</span>
<div class="row">

<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">location_on</i> Austra
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">view_column</i> Full Time
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">money</i> $1200
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">access_time</i> 1 day ago
</div>

</div> <!-- end of row-->
<div class="row">

<a class="waves-effect waves-light btn red">Applied</a>

</div>

</div> <!-- end of card-content jobs-->

<div class="card-content jobs">
<span class="card-title">UX Designer</span>
<div class="row">

<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">location_on</i> Austra
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">view_column</i> Full Time
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">money</i> $600
</div>
<div class="col s3 l3 m3"> 
<i class="small material-icons red-text left">access_time</i> 1 day ago
</div>

</div> <!-- end of row-->
<div class="row">

<a class="waves-effect waves-light btn red">Applied</a>

</div>

</div> <!-- end of card-content jobs-->

</div>

</div> <!-- end of col s12 l8 m8-->

<div class="col s12 m4 l4">
<div class="card">
<div class="card-content jobs">
<span class="card-title">Order Plans Summary</span>
</div><!-- end of card-content jobs-->
<div class="card-content jobs">
<div class="row">

<div class="col s12 m7 l7">
<span class="card-title">Prof. Plans</span>
<p> Order No: #12345</p>
<p>Date: 26-03-2018</p>

</div>
<div class="col s12 m5 l5"> <a class=" btn red">Paid</a></div>

</div>
</div><!-- end of card-content jobs-->

<div class="card-content jobs">
<div class="row">

<div class="col s12 m7 l7">
<span class="card-title">Prof. Plans</span>
<p> Order No: #12346</p>
<p>Date: 23-03-2019</p>

</div>
<div class="col s12 m5 l5"> <a class=" btn red">Paid</a></div>

</div>
</div><!-- end of card-content jobs-->

<div class="card-content jobs">
<div class="row">

<div class="col s12 m7 l7">
<span class="card-title">Prof. Plans</span>
<p> Order No: #12347</p>
<p>Date: 23-03-2019</p>

</div>
<div class="col s12 m5 l5"> <a class=" btn red">Paid</a></div>

</div>
</div><!-- end of card-content jobs-->
<div class="card-content jobs">
<div class="row">

<div class="col s12 m7 l7">
<span class="card-title">Prof. Plans</span>
<p> Order No: #12348</p>
<p>Date: 23-03-2019</p>

</div>
<div class="col s12 m5 l5"> <a class=" btn red">Paid</a></div>

</div>
</div><!-- end of card-content jobs-->

</div>

</div> <!-- end of col s12 m4 l4 -->

</div> <!-- end of row-->

</div> <!-- end of col s12 m9 l9-->




</div>

 </div>